<div>
<h1> Welcome to Peter's Random Store </h1>
<h2> Use the dropdown menu to navigate the site! </h2>
<img src="https://www.petersbilliards.com/assets/uploads/Visit_Our_Store/Building_Freeway_View.jpg">
</div>


